.card {
  border: 3px solid black;
  padding: 25px;
  text-align: center;
  background-color: white;
  border-radius: 15px;
  box-sizing: border-box;
}

.subtitle {
  color: gray;
  font-weight: 600;
  font-size: medium;
}

.endtitle {
  color: gray;
  font-size: small;
  font-weight: 550;
  background-color: rgba(192,192,192,0.1);;
  padding: 10px;
  background-color:rgba(192,192,192,0.3);
  border-radius: 5px;
  line-height: 1.6;
}

.code-input {
  display: inline-flex;
  width: 80px;
  height: 100px;
  margin: 20px 15px 20px 0px;
}

::placeholder {
font-size: 60px;
color: gray;
text-align: center;
}

input[type="text"] {
font-size: 55px;
text-align: center;
}